<div class="w-full bg-charcoal">
  <footer class="container mx-auto">
    <div class="mx-auto pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32 ">
      <div class="mb-8 flex flex-col items-center justify-center gap-2 px-2">
        <h2 class="text-center text-4xl font-semibold text-white lg:text-left">
          Download our Vagaro Pro App
        </h2>
        <p class="mx-auto max-w-2xl text-lg text-white">
          Optimize your business with the Vagaro Pro App. Streamline
          operations, engage customers, and grow efficiently. Download now for
          seamless management.
        </p>
      </div>
      <div class="mx-auto my-16 flex justify-center">

        <div class="mx-auto mb-2 flex h-full flex-col items-center gap-4 md:mb-0 md:gap-6 lg:flex-row">
          <a href="https://apps.apple.com/app/apple-store/id346778559?pt=317944&ct=Vagaro-Pro-App-Page&mt=8"
            target="_blank" id="b2b-apple-store">
            <div class="h-16 rounded-full border-2 border-white bg-black pl-2 pr-2 hover:bg-charcoal">
              <img class="b2c-apple-store mx-auto h-16 w-auto rounded-xl lg:h-16"
                src="{{asset 'apple-download-app-store-white-text.svg'}}" alt="" />
            </div>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.semaphore.login" target="_blank"
            id="b2b-google-store">
            <div class="h-16 rounded-full border-2 border-white bg-black pl-1 pr-2 hover:bg-charcoal">
              <img class="b2c-google-store mx-auto h-16 w-auto rounded-full"
                src="{{asset 'play-store-button-text.svg'}}" alt="" />
            </div>
          </a>
        </div>
      </div>

      <div class="mx-auto flex flex-col gap-y-8 justify-center items-center text-center">
        <div class="w-full pb-8 mx-auto flex flex-col md:flex-row border border-white/10">
          <div class="space-y-8 w-full mx-auto md:ml-0 h-full">
            <p class="text-balance text-base text-white">View all Vagaro Apps.</p>
            <div class="flex gap-x-2 mx-auto justify-center w-full">
              <img class="h-20 px-2" src="{{asset 'hippa.webp'}}" alt="hippa verified" />
              <img class="h-20 px-2" src="{{asset 'pci-dss.webp'}}" alt="pci dss verified" />
            </div>
          </div>
          <div class="w-full h-full mt-10 md:mt-0 border border-white/10">
            <div id="footer-links-container" class=" grid grid-cols-3 md:grid md:grid-cols-3 md:gap-8 text-left">
              <!-- Dynamic footer links will be loaded here -->
              <!-- Fallback static content -->
              <div class="">
                <h3 class="text-sm/6 font-semibold text-white">Get Started</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li>
                    <a href="#" class="text-sm/6 text-gray-400 hover:text-gray-300">Loading...</a>
                  </li>
                </ul>
              </div>
              <div class="">
                <h3 class="text-sm/6 font-semibold text-white">Company</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li>
                    <a href="#" class="text-sm/6 text-gray-400 hover:text-gray-300">Loading...</a>
                  </li>
                </ul>
              </div>
              <div class="">
                <h3 class="text-sm/6 font-semibold text-white">Resources</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li>
                    <a href="#" class="text-sm/6 text-gray-400 hover:text-gray-300">Loading...</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <div class="flex justify-between items-center mx-auto border-y border-white py-4 w-full">
          <div class="div">
            <a href="/">
              <img class="h-8" src="{{asset 'logo-white.svg'}}" alt="Vagaro Logo" />
            </a>
          </div>
          <div class="flex gap-x-6">
            <a href="https://www.facebook.com/vagaropro"
              class="text-gray-400 hover:text-gray-300 border-1  rounded-full p-2">
              <span class="sr-only">Facebook</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a href="https://x.com/Vagaro" class="text-gray-400 hover:text-gray-300 border rounded-full p-2">
              <span class="sr-only">X</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z" />
              </svg>
            </a>
            <a href="https://www.instagram.com/vagaropro/"
              class="text-gray-400 hover:text-gray-300 border rounded-full p-2">
              <span class="sr-only">Instagram</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd" />
              </svg>
            </a>

            <a href="https://www.pinterest.com/VagaroPins/"
              class="text-gray-400 hover:text-gray-300 border rounded-full p-2">
              <span class="sr-only">Pinterest</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  d="M12 2C6.48 2 2 6.48 2 12c0 4.19 2.63 7.77 6.32 9.21-.09-.74-.16-1.88.03-2.69.18-.74 1.13-4.8 1.13-4.8s-.29-.58-.29-1.43c0-1.34.78-2.34 1.74-2.34.82 0 1.22.62 1.22 1.36 0 .83-.53 2.07-.8 3.22-.23.96.48 1.74 1.42 1.74 1.71 0 3.02-1.8 3.02-4.4 0-2.3-1.65-3.91-4.01-3.91-2.73 0-4.34 2.05-4.34 4.17 0 .83.32 1.71.72 2.2.08.1.09.18.07.28-.07.31-.24 1-.28 1.14-.04.2-.16.24-.37.14-1.2-.56-1.95-2.31-1.95-3.72 0-3.03 2.2-5.81 6.35-5.81 3.33 0 5.92 2.38 5.92 5.55 0 3.31-2.09 5.98-4.99 5.98-1 0-1.93-.51-2.25-1.12 0 0-.49 1.88-.61 2.34-.22.86-.82 1.95-1.22 2.61.92.29 1.9.44 2.92.44 5.52 0 10-4.48 10-10S17.52 2 12 2z" />
              </svg>
            </a>
            <a href="https://www.youtube.com/user/VagaroSupport"
              class="text-gray-400 hover:text-gray-200 border rounded-full p-2">
              <span class="sr-only">YouTube</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      
      <div class="w-full flex justify-between items-center pt-2">
       <div class="flex flex-col gap-2">
         <div class="text-white flex items-center gap-x-2 text-base"> <img class="h-4" src="{{asset 'flag-us.svg'}}" alt="United States" /> United States</div>
        <div class="text-white flex items-center gap-x-2 text-base"> <span class="-mb-1 inline-block h-4 w-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-4 text-white">
        <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"  fill="currentColor"/>
      </svg>
      </span>(925) 464-1932</div>
        <div class="text-white/70 text-base">
            4430 Rosewood Drive, 5th Floor
        <br />
        Pleasanton, CA 94588
        </div>
       </div>
        <ul class="flex gap-x-4 text-white text-base">
          <li><a href="https://www.vagaro.com/pro/privacy">Privacy Policy</a></li>
          <li><a href="https://www.vagaro.com/pro/user-agreement">User Agreement</a></li>
          <li><a href="https://www.vagaro.com/pro/vagaro-customer-participation-agreement">Participation Agreement</a>
          </li>
          <li><a href="https://www.vagaro.com/pro/general-data-protection-regulation">GDPR</a></li>
        </ul>
      </div>
      <div
        class="mx-auto mt-16 flex w-full flex-col justify-center border-t border-white/10 pt-8 text-center sm:mt-20 lg:mt-24">
        <p class="mt-24 text-lg text-gray-50">
          &copy; 2025 Vagaro, Inc.
        </p>
        <p class="text-lg text-gray-50">
          Vagaro Merchant Services is a registered ISO of PNC Bank, N.A.,
          Pittsburgh, PA
        </p>
      </div>
    </div>
  </footer>

</div>